html, body{
    scroll-behavior: smooth;
}

@media (orientation:portrait) {
  .cover, .halaman_a, .halaman_b, .halaman_c{
    width: 100vw;
    height: 154vw;
  }
}

@media (orientation:landscape) {
  .cover {
    width: 100vw;
    height: 165vw;
  }
}
  
  .efek{
    opacity: 0;
    transform: translateY(40%);
    transition: all 0.6s ease-out;
  }
  
  .efek .oke{
    opacity: 1;
    transform: translateY(0%);
  }
  
body {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}
/* cover */
.cover{
  display: flex;
  background: #5d0000;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.cover .img_a{
  width: 100%;
  margin-top: 0px;
}

.cover .isi_cover{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.cover .isi_cover .img_b{
  width: 20%;
  margin-top: 7%;
}
  
.cover .isi_cover .kata_a{
  font-size: 100%;
  margin-bottom: -10%;
}

.cover .isi_cover .kata_b{
  font-size: 300%;
  text-align: center;
}

.cover .img_c{
  width: 100%;
  margin-bottom: 0px;
}

/* halaman_a */
.halaman_a{
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

.halaman_a, .halaman_b, .halaman_c{
  background: linear-gradient(to left, #856f43, #eddab0, #fbf6eb, #eddab0, #856f43);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.halaman_a .qs_a{
  font-size: 70%;
  text-align: center;
  padding: 10%;
  
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}
.halaman_a .qs{
  font-size: 70%;
  margin-top: -11%;
  
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

/* halaman_b */
.halaman_b .img_a{
  width: 20%;
  display: flex;
  flex-direction: column;
  
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}
.halaman_b .salam, .halaman_b .kata_a, .halaman_c .kata_c{
  font-size: 70%;
  text-align: center;
  padding: 10%;
  
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}
.halaman_b .kata_a {
  margin-top: -20%;
}
.halaman_b .img_d, .halaman_b .img_e{
  width: 85%;
  margin-top: -10%;
  
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}
.halaman_b .nama_a{
  font-size: 200%;
  
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}
.halaman_b .nama_b{
  font-size: 60%;
  text-align: center;
  padding: 10%;
  margin-top: -17%;
  
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}
.halaman_b .nama_c{
  margin-bottom: -8%;
  margin-top: -10%;
  font-size: 150%;
}
/* halaman_c */
@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}