html, body{
    width: 100vw;
    height: 100vh;
    margin: auto;
    
}

@media (orientation:portrait) {
  .main{
    aspect-ratio: 10 / 16;
    width: 100%;
    height: auto;
  }
}

@media (orientation:landscape) {
  .main {
    aspect-ratio: 10 / 16;
    width: auto;
    height: 100%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  60% {
    transform: translateY(-20%);
    opacity: 1;
  }
  80% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

  .main{
    border: 1px solid #f00;
    overflow: hidden;
  }
  /* cover */
  .main #a {
    width: 100%;
    height: 100%;
    display: block;
  }
  .main #a .cover {
    width: 100%;
    height: 100%;
    background: #5d0000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .main #a .cover .dec_top {
    width: 100%;
  }
  
  .main #a .cover .nama_cover {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main #a .cover .opn {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    animation: pulse 3s infinite;
    
  }
  
  .main #a .cover .dec_bot {
    width: 100%;
    
  }
  
  /* navigator */
  .main .navigator {
    width: 100vw;
    height: 15vw;
    background: grey;
    position: fixed;
    bottom: 0%;
    display: block;
  }
  /* nav_a */
  .main .navigator #nav_a {
    height: 100%;
    width: auto;
    border: 10x solid #f00;
  }
  
  .main .navigator #nav_a img {
    width: 100%;
  }
  
  /* halaman_a */
  .main #b {
    width: 100%;
    height: 100%;
    display: none;
    animation: bounce 0.8s;
  visibility: visible;
  opacity: 1;
  }
  
  .main #b .home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
  }
  
  .main #b .home .corner_top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  
  .main #b .home .corner_top .corner_l {
    width: 25%;
  }
  
  .main #b .home .corner_top .corner_r {
    width: 25%;
    margin-left: auto;
  }
  
  .main #b .home .corner_bot {
    width: 80%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main #b .home .home_item {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50vw;
    transform: translate(-50%, -50vw);
  }